# Build
/dist
/lib
/lib-types
/server
/bin
/obj

# Development
node_modules

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
.vs
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.njsproj.user
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases
